<% content_for :body_content_title do %>
  <%= @basic.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @basic.name %>
    </p>
  </section>
  <section>
    <h1>Location</h1>
    <p>
      <%=raw @basic.location %>
    </p>
  </section>
  <section>
    <h1>Content</h1>
    <p>
      <%=raw @basic.content %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="basics">
      <% @basics.each do |basic| %>
        <li>
          <%= link_to basic.name, refinery.basics_basic_path(basic) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
